body{
    background-color: #f9ebe0;
}

#name-style{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#description-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}